* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

hr,
.MuiDivider-root {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

a {
  color: inherit;
  text-decoration: none;
}

main img {
  border: 4px solid #54c6eb !important;
  border-radius: 8px;
}

.social-icon-link {
  margin: 0 4px;
  vertical-align: text-top;
}
