* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

hr,
.MuiDivider-root {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

a {
  color: inherit;
  text-decoration: none;
}

main img {
  border: 4px solid #54c6eb !important;
  border-radius: 8px;
}

.social-icon-link {
  margin: 0 4px;
  vertical-align: text-top;
}

/*
  MUI Overrides
*/
.MuiTypography-body1 {
  font-size: 1.25rem;
}

/*
  Section Stylings
*/
section {
  padding: 4rem 0;
}

#intro, #faq {
  border-top: 3px solid #ec1f65;
	border-bottom: 3px solid #ec1f65;
}

#mission {
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("/lights1.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: #f3f3f3;
}

#info {
  background-color: #0f190d;
  color: #f3f3f3;
}

#info hr {
  border-color: #ccc;
}

#team {
  background-color: #517f7f;
}
